*{
  background-color: #d5f2f2;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 10px;
  text-decoration: dashed;

  border: 2px solid greenyellow;
}
button:hover {
  color: aliceblue;
  background-color: #4caf5075;
}
